<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        id="name"
        type="text"
        class="form-control"
        placeholder="Person name..."
        [(ngModel)]="personName"
      />
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="age">Age:</label>
      <input
        id="age"
        type="number"
        class="form-control"
        [(ngModel)]="personAge"
      />
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="salary">Salary:</label>
      <input
        id="salary"
        type="number"
        class="form-control"
        [(ngModel)]="personSalary"
      />
    </div>
  </div>
  <div class="col-md-3">
    <button (click)="onAdd()" type="button" class="btn btn-danger btn-block">
      Add person
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <tr>
        <th
          [ngClass]="{ nowSorted: sortedBy === 'name' }"
          (click)="onSortBy('name')"
        >
          Name
          <span
            *ngIf="order === 'asc'"
            class="glyphicon glyphicon-chevron-down"
          ></span>
          <span
            *ngIf="order === 'desc'"
            class="glyphicon glyphicon-chevron-up"
          ></span>
        </th>
        <th
          [ngClass]="{ nowSorted: sortedBy === 'age' }"
          (click)="onSortBy('age')"
        >
          Age
          <span
            *ngIf="order === 'asc'"
            class="glyphicon glyphicon-chevron-down"
          ></span>
          <span
            *ngIf="order === 'desc'"
            class="glyphicon glyphicon-chevron-up"
          ></span>
        </th>
        <th
          [ngClass]="{ nowSorted: sortedBy === 'salary' }"
          (click)="onSortBy('salary')"
        >
          Salary
          <span
            *ngIf="order === 'asc'"
            class="glyphicon glyphicon-chevron-down"
          ></span>
          <span
            *ngIf="order === 'desc'"
            class="glyphicon glyphicon-chevron-up"
          ></span>
        </th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let person of myFamily">
        <td>{{ person.name }}</td>
        <td>{{ person.age }}</td>
        <td>{{ person.salary }}</td>
        <td>
          <span
            (click)="onDelete(person.id)"
            class="glyphicon glyphicon-remove delete"
          ></span>
        </td>
      </tr>
    </table>
  </div>
</div>
