td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}
th {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.nowSorted {
  background-color: aquamarine;
}
.delete {
  color: red;
  cursor: pointer;
}
.delete:hover {
  font-size: 130%;
}
.btn {
  margin-top: 25px;
}
.err {
  color: red;
  font-style: italic;
  text-align: center;
}
.loading {
  color: green;
  text-align: center;
}
