<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Receipt Project</h1>
      <button
        [ngClass]="{
          'btn-danger': !welcomeMessage,
          'btn-default': welcomeMessage
        }"
        class="btn"
        (click)="onClick()"
      >
        {{ !welcomeMessage ? "Welcome" : "Hide welcome" }}
      </button>
      <h3>{{ welcomeMessage }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-recepies-list></app-recepies-list>
      <app-recepie-details></app-recepie-details>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12">
      <app-shopping-list></app-shopping-list>
      <app-shopping-edit></app-shopping-edit>
    </div>
  </div>
</div>
