<div class="container">
  <!-- <div class="row">
    <div class="col-md-12">
      <h1>Receipt Project</h1>
      <button
        [ngClass]="{
          'btn-danger': !welcomeMessage,
          'btn-default': welcomeMessage
        }"
        class="btn"
        (click)="onClick()"
      >
        {{ !welcomeMessage ? "Welcome" : "Hide welcome" }}
      </button>
      <h3>{{ welcomeMessage }}</h3>
    </div>
  </div> -->
  <app-header></app-header>
  <hr />
  <app-recepies></app-recepies>
  <hr />
  <app-shopping-list></app-shopping-list>
</div>
